In [5]:
import mysql.connector
import pandas as pd
db_connection = mysql.connector.connect(
    host="localhost",       
    user="root",              
    password="Deadman@14", 
    database="Vachas"   
)

In [6]:
cursor = db_connection.cursor()

In [7]:
print("Connected to MySQL:", db_connection.is_connected())

Connected to MySQL: True

In [15]:
create_table = """CREATE TABLE IF NOT EXISTS students (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    age INT,
    course VARCHAR(100)
);"""
cursor.execute(create_table)
db_connection.commit()
print("TABLE STUDENTS IS CREATED SUCESSFULLY")

table STUDENTS IS CREATED SUCESSFULLY

In [17]:
create_table = """
CREATE TABLE IF NOT EXISTS Fees (
    Rollno INT AUTO_INCREMENT PRIMARY KEY,  # Removed the period
    name VARCHAR(100) NOT NULL,
    amount INT,
    course VARCHAR(100),
    location VARCHAR(100)
);"""
cursor.execute(create_table)
db_connection.commit()
print("TABLE FEES IS CREATED SUCESSFULLY")

TABLE FEES IS CREATED SUCESSFULLY

In [18]:
cursor.close()
db_connection.close()
print("MySQL connection is closed.")

MySQL connection is closed.