In [1]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv("C:/Users/al6436/Desktop/Vrinda Store Data/vrindastore.csv")

In [11]:
data = [df['Amount']]
print(data)

[0         376
1        1449
2         453
3         729
4         544
         ...
31042     565
31043     939
31044    1115
31045     399
31046     791
Name: Amount, Length: 31047, dtype: int64]

In [15]:
mean_data= data.mean()
std_data = data.std()
print(mean_data)
print(std_data)

682.0748220439978
268.58217349679825

In [22]:
z_scores = (data - mean_amount) / std_amount
print(z_scores)

0       -1.139595
1        2.855458
2       -0.852904
3        0.174714
4       -0.514088
           ...
31042   -0.435899
31043    0.956598
31044    1.611891
31045   -1.053960
31046    0.405556
Name: Amount, Length: 31047, dtype: float64

In [27]:
outliers = df[z_scores.abs() > 3]
print(outliers)

       Index             Order ID  Customer ID Gender  Age     Group  \
369      370  404-7396160-3109963      7396160  Women   46     Adult
512      513  407-1994630-2789904      1994630  Women   22  Teenager
1105    1106  402-3600740-4760302      3600740  Women   38     Adult
1205    1206  403-7002542-6292300      7002542  Women   22  Teenager
1255    1256  407-8321158-5315544      8321158  Women   20  Teenager
...      ...                  ...          ...    ...  ...       ...
30322  30323  406-0375965-9281124       375965    Men   67    Senior
30403  30404  406-4398087-5429107      4398087    Men   75    Senior
30415  30416  402-1138267-4734758      1138267  Women   60    Senior
30493  30494  408-9771426-7682716      9771426  Women   33     Adult
30963  30964  406-1767177-1581906      1767177  Women   42     Adult

            Date Month     Status Channel  ...  Size Qty Currency  Amount  \
369    12/4/2022   Dec  Delivered  Amazon  ...     L   1      INR    1523
512    12/4/2022   Dec  Delivered   Nalli  ...     M   1      INR    1523
1105   11/4/2022   Nov  Delivered  Amazon  ...     M   1      INR    1556
1205   11/4/2022   Nov  Delivered  Amazon  ...    XL   1      INR    1695
1255   11/4/2022   Nov  Delivered   Nalli  ...   3XL   1      INR    1698
...          ...   ...        ...     ...  ...   ...  ..      ...     ...
30322   1/6/2022   Jan  Delivered  Myntra  ...     S   1      INR    1523
30403   1/6/2022   Jan  Delivered  Amazon  ...    XL   1      INR    1523
30415   1/6/2022   Jan  Delivered  Amazon  ...   3XL   2      INR    2016
30493   1/6/2022   Jan  Delivered   Nalli  ...     L   1      INR    1671
30963   1/6/2022   Jan  Delivered  Amazon  ...  Free   1      INR    1698

          Ship-City     ship-state ship-postal-code ship-country    B2B  \
369       Bengaluru      Karnataka           560036           IN  False
512       Bengaluru      Karnataka           560080           IN  False
1105      Panchkula        Haryana           134113           IN  False
1205    Bhubaneswar         Odisha           751003           IN  False
1255        Chennai     Tamil Nadu           600099           IN  False
...             ...            ...              ...          ...    ...
30322        Sasvad    Maharashtra           412301           IN  False
30403        Chunar  Uttar Pradesh           231304           IN  False
30415     Hyderabad      Telangana           500073           IN  False
30493  Mahendragarh        Haryana           123029           IN  False
30963       Cuttack         Odisha           754032           IN  False

           z-score
369    1520.460461
512    1520.460461
1105   1553.460461
1205   1692.460461
1255   1695.460461
...            ...
30322  1520.460461
30403  1520.460461
30415  2013.460461
30493  1668.460461
30963  1695.460461

[198 rows x 22 columns]

In [30]:
print(outliers['Amount'].unique())

[1523 1556 1695 1698 1499 2244 1613 1576 1650 3036 2442 1671 1593 1551
 2397 1496 1691 1648 1836 2040 1740 2250 1649 1998 2598 1574 1549 1629
 1764 1729 1798 1542 1999 1572 1559 2175 2796 2894 1670 2372 1990 2299
 1893 1797 1776 1704 2066 1518 1934 1916 2860 2058 2068 1603 1504 1596
 2016]

In [31]:
print(outliers['Amount'].nunique())

57

In [33]:
skewness = data.skew()
print(f"Skewness: {skewness}")

if skewness > 0:
    print("positively skewed")
elif skewness < 0:
    print("negatively skewed")
else:
    print("Data is symmetric.")

Skewness: 1.0529040086651469
positively skewed

In [36]:
# Calculate kurtosis
kurtosis = data.kurt()
print(f"Kurtosis: {kurtosis}")

# Interpretation
if kurtosis > 3:
    print("leptokurtic")
elif kurtosis < 3:
    print("platykurtic")
else:
    print("normal distribution")

Kurtosis: 1.768675937864248
platykurtic